* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  background-color: white;
}

p{
  font-size: 10px;
}
/* Start Top  Navbar */



header {
  position: fixed;
  background:rgb(1,87,122);
  width: 100%;
  top: 0; 
  left: 0;
  z-index: 10;
}
.top {
  margin: auto;
  padding: 5px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.logo-details {
  color: #fff;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-details img{
width:50px;
height:50px;
border-radius: 50%;
}

.logo-details span{
margin-left:7px;
font-family:'Lexend Deca', sans-serif;;
}

.media-icons {
  display: flex;
}

.media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 6px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 23px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.media-icons a:nth-child(1) {
  background: #4267B2;
}

.media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.media-icons a:nth-child(3) {
  background: #E1306C;
}

.media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.media-icons a:nth-child(4) {
  background: #0077B5;
}

.media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.media-icons a:nth-child(5) {
  background: #FF0000;
}

.media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

.media-icons a:nth-child(6) {
  background: #1DA1F2;
}

.media-icons a:nth-child(6):hover {
  color: #1DA1F2;
  background: #fff;
}

.right-side {
  display: flex;
  color: white;
  font-size: smaller;
  flex-direction: column; 
  align-items: flex-end; 
}
.right-side span{
  margin: 2px;
}

/* End Top  Navbar */

/*
//////////////////////////////////////////////
//////////////////////////////////////////////
*/

/* Start Second Top  Navbar */



.down {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin-top:   calc(1% + 43px); 
  background-color: black;
  position: relative;
  z-index: 1;
}

.hamburger ,.hamburger-top{
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 1%;
line-height: 40px;;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 25px 0 0 25px;
  outline: none;
}

.search-icon {
  background-color: #007bff;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color: #fff;
}
.search-icon-top{
  background-color:rgb(1,87,122);
  padding: 10px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color: #fff;
}

.scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.scrollmenu a {
  padding: 8px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.scrollmenu a:hover {
  background-color: #777;
}

.scrollmenu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Added CSS for the side navigation */
.sidenav {
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  height: 100%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media(min-width:1500px){
  .scrollmenu a {
 
    font-size: 28px;
  }  .right-side {
    
    font-size: large;
    font-weight: 600; 
  }
 

}

@media (max-width: 950px) {
  .media-icons {
    display: none;
  }
  .top {
    flex-direction: row;
 align-content: space-around;
  }
  .logo-details {
margin-left: 5%;
  }
  .right-side {
    margin-right:3%;
  }
}



@media(min-width:650px){
  .hamburger-top,.search-container-top {
    display: none;
}
}

@media (max-width: 650px) {
  .right-side,
  .media-icons {
      display: none;
  }

  .logo-details {
      margin: auto;
  }

  .hamburger,.search-icon {
      display: none;
  }

}
@media(max-width:420px){

  .logo-details {
    color: #fff;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
.logo-details img{
  width:30px;
  height:30px;
  border-radius: 50%;
}

.logo-details span{
  margin-left:7px;
  font-family:'Lexend Deca', sans-serif;;
}
}





/* End Second Top  Navbar */

/* 
////////////////////////////////////////////
////////////////////////////////////////////
*/

/* Start Advertisement */


.ads{
  height: 20%;
  margin: 4% auto 10% auto;
  
  
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
  width:80%;
}
.ads .images{
  height: 100%;
  width: 100%;
}
.images img{
  height: 100%;
  width: 100%;
}


/* End Advertisement */

/*
///////////////////////////////////////////
///////////////////////////////////////////
*/

/* Start Footer */ 
footer {
  position: relative;
  background: rgb(49,62,71);
  width: 100%;
  bottom: 0;
  margin-top: 2%;
  left: 0;
  z-index:-1;
}

footer .content {
  max-width: 1450px;
  margin: auto;
  padding: 30px 30px 40px 30px;
}

footer .content .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.content .bottom .logo-details {
  color: #fff;
  font-size: 40px;
}

.content .bottom .media-icons {
  display: flex;
}

.content .bottom .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 6px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 23px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.bottom .media-icons a:nth-child(1) {
  background: #4267B2;
}

.bottom .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.bottom .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.bottom .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.bottom .media-icons a:nth-child(3) {
  background: #E1306C;
}

.bottom .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.bottom .media-icons a:nth-child(4) {
  background: #0077B5;
}

.bottom .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.bottom .media-icons a:nth-child(5) {
  background: #FF0000;
}

.bottom .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

.bottom .media-icons a:nth-child(6) {
  background: #1DA1F2;
}

.bottom .media-icons a:nth-child(6):hover {
  color: #1DA1F2;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  margin: 25px 5px 0px 0px;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 4 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 50px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color:white;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: none;
}

.content .link-boxes .input-box {
  margin-right: 50px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: rgb(247, 244, 244);
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: black;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #8b8b8e;
  font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;

  background:rgb(21,81,109);
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 20px;
  font-weight:600;
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}










@media (max-width:1100px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }

}


@media (max-width:900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}



@media (max-width:800px) {
  footer {
    position: relative;
  }

  .content .bottom .logo-details {
    font-size: 26px;
  }

  .content .bottom .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 50%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}



@media (max-width:700px) {


  .search-container {
    display: flex;
    align-content: center;
    padding-left: 10px;
    background-color:#111;
    cursor: pointer;
  
  }
  
  .search-input {
    display:none;
  }
  
  .search-icon {
    background-color: #007bff;
   border-top-left-radius:50px ;
   border-top-right-radius:50px ;
   border-bottom-left-radius:50px ;
   border-bottom-right-radius:50px ;
    cursor: pointer;
    color: #fff;
  }




}

@media (max-width: 500px) {

  footer{
    margin-top: 70%;
  }
  footer::before {
    top: 145px;
  }

  footer .content .bottom {
    flex-direction: column;
  }

  .content .bottom .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}



@media (max-width: 450px) {
  footer {
    position: relative;
  }

  .content .bottom .logo-details {
    font-size: 26px;

  }

  .content .bottom .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }

  .link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 70px;
    background: #fff;
    transform: translateX(-50%);
  }

  .content .link-boxes .input-box {
    margin-right: 60px;
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;

  }

  .bottom-details .bottom_text a {
    width: 50%;
  }
}

@media (max-width: 380px) {
  footer {
    position: relative;
  }

  .content .bottom .logo-details {
    font-size: 26px;

  }

  .content .bottom .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }

  .link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 70px;
    background: #fff;
    transform: translateX(-50%);
  }

  .content .link-boxes .input-box {
    margin-right: 60px;
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;

  }
}

  /* End Footer */ 